<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <meta nane="author" content="David Rivera Taupier">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Way-2-Success | Home</title>
</head>
<body>
    <div id="container">
        <header>
            <!-- <img src="public/icons/banner.png" alt="banner"> -->
            <div class="logo"><img src="public/icons/Logo.png" alt="logo"></div>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="#">Cursos</a>
                        <ul class="submenu">
                            <li><a href="#"></a>Ingenieria</li>
                            <li><a href="#"></a>Programacion</li>
                            <li><a href="#"></a>Manejo de Redes</li>
                        </ul>
                    </li>
                    <li><a href="#">Enseña en W2S</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Sign-In</button></a>
        </header>
        <section class="sct1">
            <div class="imagen">
                <img src="public/img/img4.jpg" alt="portada">
            </div>
            <div class="info">
                <div class="frase">
                    <h2>Aprende a tu ritmo</h2>
                    <p>Te ofrecemos un sistema de capacitación que prepará
                        para enfrentar los desafíos del mundo laboral.
                    </p>
                </div>
                <a class="cta" href="#"><button>Get Started</button></a>
            </div>
        </section>
        <section class="sct2">
            <h2>Explore nuestros cursos</h2>
            <div class="cursos-lista"></div>
        </section>
        <section class="sct3"> 
            <div class="cuadro-info">
                <h2>Nuestros cursos:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, exercitationem labore sequi at voluptatibus itaque cum tempore harum ad laboriosam quibusdam repudiandae consequuntur voluptates blanditiis. Assumenda perspiciatis aperiam exercitationem ratione. Reprehenderit non, illum omnis debitis consequatur id sunt earum possimus dolore ex iste explicabo quo sapiente aut, laboriosam nesciunt voluptates.</p>
            </div>
            <div class="cuadro-imagen">

            </div>
        </section>
        <section class="sct4">
            <div id="contacto">
                <div class="titulo-contact">
                    <h2>Escríbenos para conocer más promociones</h2>
                </div>
                <form class="formulario" id="formulario">
                    <div class="formulario__grupo" id="grupo__nombre">
                        <label for="nombre" class="formulario__label">Nombre</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="nombre" id="nombre">
                        </div>
                    </div>
                    <div class="formulario__grupo" id="grupo__apellido">
                        <label for="apellido" class="formulario__label">Apellido</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="apellido" id="apellido">
                        </div>
                    </div>
                    <div class="formulario__grupo" id="grupo__email">
                        <label for="email" class="formulario__label">E-mail</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="email" id="email" placeholder="nombre@dominio.com">
                        </div>
                    </div>
                    <div class="formulario__grupo" id="grupo__phone">
                        <label for="phone" class="formulario__label">Phone</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="phone" id="phone" placeholder="(XXX)XXX-XXXX">
                        </div>
                    </div>
                    <div class="formulario__grupo" id="grupo__mensaje">
                        <label for="mensaje" class="formulario__label">Mensaje</label>
                        <div class="formulario__grupo-input">
                            <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Escriba aquí..."></textarea>
                        </div>
                    </div>
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Enviar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                    </div>
                </form>
            </div>
            <div id="contact-img">
                <img src="public/img/contact.jpg" alt="contact">
            </div>
        </section>
        <footer></footer>
    </div>
    <script src="https://kit.fontawesome.com/08d1435850.js" crossorigin="anonymous"></script>
</body>
</html>