<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Way-2-Success</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo">
                <img src="public/icons/Logo1.png" alt="logo">
            </div>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="#">Nosotros</a>
                        <ul class="submenu">
                            <li><a href="#">Andres Vielma</a></li>
                            <li><a href="#">David Rivera</a></li>
                            <li><a href="#">Sabrina Pereyra</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Social Media</a>
                        <ul class="submenu">
                            <li><a href="#" id="facebook">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Profesores</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Estudiantes</a></li>
                </ul>
            </nav>
        </header>
        <article id="art1">
            <div id="intro"></div>
            <section id='sct1'>
                <div id="circulo-marco">
                    <div class="circulo"></div>
                </div>
            </section>
        </article>
        <article id="art2">

        </article>
        <footer></footer>
    </div>
</body>
</html>