<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Way-2-Success</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo">
                <img src="public/icons/Logo1.png" alt="logo">
            </div>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="#">Nosotros</a>
                        <ul class="submenu">
                            <li><a href="#">Andres Vielma</a></li>
                            <li><a href="#">David Rivera</a></li>
                            <li><a href="#">Sabrina Pereyra</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Profesores</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="https://www.thinkific.com/signin/">Emprendedores</a></li>
                </ul>
            </nav>
        </header>
        <article id="art1">
            <div id="show-results"></div>
            <section id='sct1'>
                <div id="circulo-marco">
                    <div class="circulo"></div>
                </div>
            </section>
        </article>
        <article id="art2">
            <div class="nosotrosImg">
                <img src="public/img/img3.jpg" alt="nostros">
            </div>
            <div class="nosotrosHistoria">
                <h2>Quienes somos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia provident cupiditate officiis laborum facere totam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolores qui eum molestiae ab perferendis laboriosam enim pariatur ipsam numquam.</p>
            </div>
        </article>
        <article id="art3">
            <div id="teachingHistory">
                <h2>Enseña con nosotros!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum necessitatibus rerum totam nihil eum omnis fuga sapiente neque quidem saepe.</p>
                <a href="#">Read more...</a>
            </div>
            <div id="teachingImage">
                <img src="public/img/img10.jpg" alt="">
            </div>
        </article>
        <footer></footer>
    </div>
</body>
</html>