$font-open: 'Open Sans', sans-serif;
$bg-page:#f3f3f3;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: $font-open
}

body{
    background:$bg-page;
    min-width: 320px;
}